body {
    color:aliceblue;
    background:#a52a2a;
    margin: 0px;
    font-family: "Space Mono", serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 6px rgb(231, 179, 47);
    padding: 20px;
    font-size: 34px;
    color: rgb(231, 179, 47);
}

.chamada {
    background: rgb(24, 155, 105);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}

.chamada-texto {
    margin-right: 5%;

}

h1 {
    font-size: 42px;
}

p {
    font-size: 20px;
}


.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 15px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 165px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 5px solid goldenrod;
}

.categoria h2 {
    color: goldenrod;
}

.categoria2 {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    text-align: right;
    font-size: 20px;
}

.categoria2 h3 {
    color: goldenrod;
}

